// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 710px

// Images path
$img($image)
    url('../img/' + $image)

// Fonts
@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,700')
ubuntu($size, $style = normal)
    font-size $size + 0px
    font-family 'Ubuntu', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $style == bold
        font-weight 700
