@import "kouto-swiss"
@import "jeet"
@import "_vars"
@import "_global"
normalize()

body
    min-width 300px
    min-height 450px
    position relative

#banners
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index -1
    > div
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-repeat no-repeat
        background-size cover
        background-position center

.wrapper
    position absolute
    display table
    top 0
    left 0
    width 100%
    height 100%
    background rgba(0, 0, 0, .3)

.main
    display table-cell
    vertical-align middle
    text-align center
    h1
        display block
        width 250px
        height 75px
        margin 0 auto 65px
        text-indent -9999px
        background $img('marca-VCSprojetos.png') no-repeat center
    h2
        margin 0 0 20px
        ubuntu 20
        color #fff
        text-transform uppercase
        cursor default
    .redes-sociais
        margin 0 auto 35px
        width 108px
        height 20px
        clearfix()
        a
            display block
            float left
            text-indent -9999px
            width 20px
            height 20px
            transition background .3s ease
            background-image $img('sprite-redes-sociais.png')
            background-repeat no-repeat
            margin-right 2px
            &:last-child
                margin-right 0
            &.email
                background-position 0 0
                &:hover
                    background-position 0 -20px
            &.twitter
                background-position -20px 0
                &:hover
                    background-position -20px -20px
            &.facebook
                background-position -40px 0
                &:hover
                    background-position -40px -20px
            &.linkedin
                background-position -60px 0
                &:hover
                    background-position -60px -20px
            &.instagram
                background-position -80px 0
                &:hover
                    background-position -80px -20px
    .telefones
        margin 0 0 30px
        p
            ubuntu 18
            color #fff
            margin 0 0 4px
            &:last-child
                margin-bottom 0
    .cliente
        display inline-block
        background #fff
        padding 8px 12px
        ubuntu 20 bold
        text-transform uppercase
        text-decoration none
        color rgba(0, 0, 0, .6)
        border 3px solid transparent
        transition color .3s, background .3s, border .3s
        &:hover
            color #fff
            background rgba(0, 0, 0, .3)
            border-color #fff
